$primary-color: #007bff;
$secondary-color: #6c757d;
$text-color: #333;
$background-color: #fff;

$primary-color-dark: #007bff;
$secondary-color-dark: #6c757d;
$text-color-dark: #eee;
$background-color-dark: #222;

